<%- include('./partials/head.ejs') %>

    <section class="detail-page" id="detail-page">
        <div class="detail-container">


            <a href="#" class="section-all">Startpagina / Producten / Mijn eerste pinda in 3 stappen</a>
            <% detail.forEach(product=> { %>
                <h2 class="detail-title">
                    <%= product.titel %>
                </h2>

                <div class="grid-container">

                    <img src="/img/pinda_3stappen.png" alt="product pinda in 3 stappen" class="detail-img">


                    <div class="detail-data">
                        <h2 class="detail-title2">
                            <%= product.titel %>
                        </h2>

                        <p class="description_product">
                            Om op een makkelijke, gezonde en betrouwbare manier voor het eerst pinda te geven aan jouw
                            baby
                            hebben we mijn eerste pinda in 3 stappen ontwikkeld.Het product is:

                            Makkelijk: hoog in eiwit, waardoor je de helft minder hoeft te geven dan bijvoorbeeld
                            pindakaas
                            Gezond: bevat geen toegevoegd zout of suiker
                            Betrouwbaar: vrij van sporen van andere allergenen en afgemeten hoeveelheid afgestemd naar
                            wetenschappelijk onderzoek
                        </p>

                        <div class="detail-price">€ 14,95</div>

                        <% }) %>
                            <button> In winkelwagen </button>
                    </div>














                </div>


        </div>
        </div>











    </section>

    <%- include('./partials/foot.ejs') %>